@import "styles/Variables";

.container {
  width: 100%;
  max-width: 920px;
  padding: $spacing6 $spacing4;
  position: relative;
  margin: 0 auto;
  text-align: center;

  @media screen and (min-width: 1024px) {
    padding: initial;
  }
}
