@import "styles/Font_Maax/_FontImport.scss";

body {
  font-family: $font;
  color: $black;
}

h1 {
  font-size: $font-h1;
  font-weight: bold;
}

h2 {
  font-size: $font-tiny;
  font-weight: normal;
}

p,
a,
strong,
li,
input,
textarea,
button {
  font-size: $font-paragraph;
  line-height: 1.2;
}

input,
textarea,
select {
  font-family: $font;
}
