@import "styles/Variables";

.wrapper {
  background-color: $white;
  border-radius: $border-radius;
  padding: $spacing4;
  margin: $spacing4 auto;
  box-shadow: $box-shadow;
  text-align: left;
  color: $primary;

  h1 {
    color: $primary;
  }

  .resize-warning {
    color: $pink;
    margin-top: $spacing2;
  }
}

.readMoreButton {
  margin-left: 15px;
  color: $primary;
  font-weight: bold;
}
